body{
	width: 100%;
	margin: 0;
	background-image: url('./Pictures/stone_background1.jpg');
	min-height: 100%;
}
html{
	height: 100%;
}
a{color: black;}

#body_div{
	width: 80%;
	background-image: url('./Pictures/paper_texture3.jpg');
	background-size: 100%;
	background-position: center;
	height: 100%;
	margin: auto;
	text-align: center;
}

h3{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: rgb(96, 68, 22);
	text-decoration: underline;
}

#map {
	margin: auto;
	height: 400px;
	width: 70%;
}

.head {
	font-size: 20px;

	font-weight: bold;
	text-decoration: underline;
}

.day{
	font-weight: bold;
	text-decoration: underline;
}

#contactForm{
	text-align: left;
	margin-left: 20em;
	margin-bottom: 2em;
}