body{
	width: 100%;
	margin: 0;
	background-image: url('./Pictures/stone_background1.jpg');
	min-height: 100%;
}
html{
	height: 100%;
}
a{color: black;}

.navBar {
	text-align: center;
	min-width: 100%;
	background-image: url('./Pictures/paper_texture.jpg');
	background-position: center;
	list-style-type: none;
	margin: 0;
	border-color: black;
	border-style: groove;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navMenu {
	Background-color: rgb(226, 213, 183);
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: .5em;
	padding-top: .5em;
	max-width: 10em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;
	border: 1px solid black;
}

#body_div{
	width: 80%;
	background-image: url('./Pictures/paper_texture3.jpg');
	background-size: 100%;
	background-position: center;
	height: 100%;
	margin: auto;
	text-align: center;
}

h3{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: rgb(96, 68, 22);
	text-decoration: underline;
}

#map {
	margin: auto;
	height: 400px;
	width: 70%;
}

.head {
	font-size: 20px;

	font-weight: bold;
	text-decoration: underline;
}

.day{
	font-weight: bold;
	text-decoration: underline;
}

